body {
	font-family: Arial, sans-serif;
	background-color: var(--background-color);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	color: var(--text-color);
}

.main-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: var(--container-color);
	padding: var(--padding-large);
	border-radius: var(--border-radius-medium);
	box-shadow: var(--box-shadow);
	width: 90%;
	max-width: 75rem;
}

.med-form {
	display: flex;
	flex-direction: column;
	width: 17.5%;
}

.med-form h2 {
	margin-bottom: var(--margin-large);
	color: var(--text-color);
}

.med-form label {
	margin-bottom: var(--margin-small);
	font-weight: bold;
}

.med-form input {
	margin-bottom: var(--margin-medium);
	padding: var(--padding-medium);
	border: 0.0625rem solid var(--border-color);
	border-radius: var(--border-radius-small);
	font-size: 1rem;
	background-color: var(--background-color);
	color: var(--text-color);
}

.med-form button {
	padding: var(--padding-medium) var(--padding-large);
	background-color: var(--button-bg-color);
	color: var(--text-color);
	border: none;
	border-radius: var(--border-radius-small);
	cursor: pointer;
	font-size: 1rem;
	transition: background-color 0.3s;
}

.med-form button:hover {
	background-color: var(--button-bg-hover-color);
}

.inventory-display {
	width: 80%;
}

.display-inventory-container {
	display: none;
	width: 100%;
}

.display-inventory-wrapper {
	width: 100%;
	overflow-x: auto;
}

.inventory-table {
	width: 100%;
	border-collapse: collapse;
	border-radius: var(--border-radius-medium);
	overflow: hidden;
}

.inventory-table th,
.inventory-table td {
	padding: var(--padding-medium);
	text-align: left;
	border: 0.0625rem solid var(--border-color);
	word-wrap: break-word;
}

.inventory-table th {
	background-color: var(--table-header-bg-color);
	color: var(--text-color);
	font-weight: bold;
}

.inventory-table tbody tr:nth-child(even) {
	background-color: var(--table-even-row-bg-color);
	color: var(--table-even-row-text-color);
}

.inventory-table tbody tr:nth-child(odd) {
	background-color: var(--container-color);
}

.inventory-table tbody tr:hover {
	background-color: var(--table-row-hover-color);
}

.delete-button {
	background-color: var(--delete-button-bg-color);
	color: var(--text-color);
	border: none;
	padding: var(--padding-small) var(--padding-medium);
	cursor: pointer;
	border-radius: var(--border-radius-small);
	transition: background-color 0.3s;
}

.delete-button:hover {
	background-color: var(--delete-button-bg-hover-color);
}

/* Fixed width for delete button column */
.delete-button-container {
	width: 5rem;
	text-align: center;
	white-space: nowrap;
}

.error-element {
	color: red
}

@media (max-width: 900px) {
	body {
		font-size: x-small;
	}

	.delete-button {
		font-size: x-small;
	}

	.main-container {
		flex-direction: column;
		align-items: center;
		width: 95%;
	}

	.med-form,
	.inventory-display {
		width: 100%;
		font-size: x-small;
	}

	.med-form input {
		font-size: x-small;
		height: fit-content;
	}

	.inventory-display {
		margin-top: var(--margin-large);
	}

	.inventory-table {
		width: 100%;
		overflow-x: auto;
		display: table;
		border-radius: var(--border-radius-medium);
	}

	.inventory-table th,
	.inventory-table td {
		flex-wrap: wrap;
		white-space: wrap;
	}

	.inventory-table th.delete-button-container,
	.inventory-table td.delete-button-container {
		width: 5rem;
	}

	.inventory-table th,
	.inventory-table td {
		display: table-cell;
	}

	.inventory-table th {
		text-align: left;
	}
}